<div class="ui {{if isLoading 'active'}} dimmer">
  <div class="ui text loader">Loading</div>
</div>
<div class="ui form">
    <div class="fields">

        {{select-component
          options=seasons
          selection=seasonSelection
          displayKey='name'
          valueKey='id'
          labelName='Season'
          class='field'
        }}

        {{select-component
          options=model.leagues
          selection=leagueSelection
          displayKey='name'
          valueKey='id'
          labelName='League'
          class='field'
        }}

        <div class="field" style="margin-top: 25px;">
          <button {{action 'getFixture'}} class="ui teal button">Spielplan</button>
        </div>
    </div>
</div>
<div class="ui divider"></div>
<div class="ui relaxed stackable grid">
    <div class="doubling two column row">
        {{#each-in fixture as |gameday games|}}
            <div class="column">
              <div class="ui inverted container segment">
                <a class="ui teal ribbon label">Spieltag #{{gameday}}</a>
                <table class="ui very basic fixed inverted table">
                    <thead>
                        <tr>
                            <th class="center aligned">Heim Team</th>
                            <th class="center aligned two wide"></th>
                            <th class="center aligned">Auswärts Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each games as |game|}}
                        <tr>
                            <td class="center aligned">
                              <img src="assets/images/team_{{game.hometeam_id}}.png" class="ui mini rounded centered image">
                              <span>
                                {{game.hometeam_name}}
                              </span>
                            </td>
                            <td class="center aligned collapsing">
                              {{game.hometeam_goals}} - {{game.awayteam_goals}}
                            </td>
                            <td class="center aligned">
                              <img src="assets/images/team_{{game.awayteam_id}}.png" class="ui mini rounded centered image">
                              <span>
                                {{game.awayteam_name}}
                              </span>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
              </div>
            </div>
        {{/each-in}}
    </div>
</div>
