<span>Import</span>
<div class="ui form">
    <div class="fields">
        <div class="field">
          <label>URL</label>
          {{input type="text" value=crawlUrl placeholder="Part of URL"}}
        </div>
        <div class="field">
            <label>League</label>
            {{input type="text" value=league placeholder="League (i.e. 3liga)"}}
        </div>
        <div class="field">
            <label>League Route</label>
            {{input type="text" value=leagueRoute placeholder="League Route (i.e. 3-liga)"}}
        </div>
        <div class="field">
            <label>Min. Gameday</label>
            {{input type="text" value=minGameday placeholder="Min. Gameday"}}
        </div>
        <div class="field">
            <label>Max. Gameday</label>
            {{input type="text" value=maxGameday placeholder="Max. Gameday"}}
        </div>
        <div class="field">
            <label>Season From</label>
            {{input type="text" value=seasonFrom placeholder="Season (i.e. 2016)"}}
        </div>
        <div class="field">
            <label>Season To</label>
            {{input type="text" value=seasonTo placeholder="Season (i.e. 17)"}}
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{input type="checkbox" checked=international}}
            <label>International League</label>
          </div>
        </div>
    </div>
</div>
<div>
    <p>Following Website will be crawled: {{crawlUrl}}/{{leagueRoute}}/{{seasonFrom}}-{{seasonTo}}/{{minGameday}}/0/spieltag.html</p>
</div>
<button {{action 'import'}}>Import</button>
