<div class="ui secondary pointing six item menu">
  <a class="item">
    Home
  </a>

  {{#link-to "statistic" class="item"}}
    Statistiken
  {{/link-to}}

  {{#link-to "standing" class="item"}}
    Tabellen
  {{/link-to}}

  {{#link-to "fixture" class="item"}}
    Spielplan
  {{/link-to}}

  {{#link-to "season-progress" class="item"}}
    Saisonverlauf
  {{/link-to}}

  {{#link-to "import" class="item"}}
    Import
  {{/link-to}}
</div>
