<div class="ui {{if isLoading 'active'}} dimmer">
  <div class="ui text loader">Loading</div>
</div>
<div class="ui form">
	<div class="fields">
		{{select-component
			options=seasons
			selection=seasonSelection
			displayKey='name'
			valueKey='id'
			labelName='Season'
			class='field'
		}}

		{{select-component
			options=model.leagues
			selection=leagueSelection
			displayKey='name'
			valueKey='id'
			labelName='League'
			class='field'
		}}

    {{select-component
			options=model.teams
			selection=homeTeamSelection
			displayKey='name'
			valueKey='id'
			labelName='Heim Team'
			class='field'
		}}

    {{select-component
			options=model.teams
			selection=awayTeamSelection
			displayKey='name'
			valueKey='id'
			labelName='Auswärts Team'
			class='field'
		}}
		<div class="field" style="margin-top: 25px;">
			<button {{action 'getSeasonProgress'}} class="ui teal button">Saisonverlauf</button>
		</div>
	</div>
</div>

<div class="ui divider"></div>

<div class="ui relaxed stackable grid">
    <div class="doubling two column row">
        <div class="column">
            {{#if seasonProgress.HomeTeam}}
            <table class="ui very basic fixed inverted table">
                <thead>
                    <tr>
                        <th class="right aligned">Heim Team</th>
                        <th class="center aligned two wide"></th>
                        <th class="left aligned">Auswärts Team</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each seasonProgress.HomeTeam as |game|}}
                    <tr>
                        <td class="right aligned">
                          <span>
                            {{game.hometeam_name}}
                          </span>
                          <img src="assets/images/team_{{game.hometeam_id}}.png" class="ui mini rounded middle aligned image">
                        </td>
                        <td class="center aligned collapsing">
                          {{game.hometeam_goals}} - {{game.awayteam_goals}}
                        </td>
                        <td class="left aligned">
                          <img src="assets/images/team_{{game.awayteam_id}}.png" class="ui mini rounded middle aligned image">
                          <span>
                            {{game.awayteam_name}}
                          </span>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{/if}}
        </div>
        <div class="column">
            {{#if seasonProgress.AwayTeam}}
            <table class="ui very basic fixed inverted table">
                <thead>
                    <tr>
                        <th class="right aligned">Heim Team</th>
                        <th class="center aligned two wide"></th>
                        <th class="left aligned">Auswärts Team</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each seasonProgress.AwayTeam as |game|}}
                    <tr>
                        <td class="right aligned">
                          <span>
                            {{game.hometeam_name}}
                          </span>
                          <img src="assets/images/team_{{game.hometeam_id}}.png" class="ui mini rounded middle aligned image">
                        </td>
                        <td class="center aligned collapsing">
                          {{game.hometeam_goals}} - {{game.awayteam_goals}}
                        </td>
                        <td class="left aligned">
                          <img src="assets/images/team_{{game.awayteam_id}}.png" class="ui mini rounded middle aligned image">
                          <span>
                            {{game.awayteam_name}}
                          </span>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{/if}}
        </div>
    </div>
</div>
