<div class="ui {{if isLoading 'active'}} dimmer">
  <div class="ui text loader">Loading</div>
</div>
<div class="ui form">
	<div class="fields">
		{{select-component
			options=seasons
			selection=seasonSelection
			displayKey='name'
			valueKey='id'
			labelName='Season'
			class='field'
		}}

		{{select-component
			options=model.leagues
			selection=leagueSelection
			displayKey='name'
			valueKey='id'
			labelName='League'
			class='field'
		}}
		<div class="field" style="margin-top: 25px;">
			<button {{action 'getStandings'}} class="ui teal button">Standings</button>
		</div>
	</div>
</div>

<div class="ui divider"></div>
<div class="tab-menu ui pointing secondary four item menu">
  <a class="item active" data-tab="first">Teams</a>
  <a class="item" data-tab="second">Tabelle</a>
  <a class="item" data-tab="third">Heim Tabelle</a>
  <a class="item" data-tab="fourth">Auswärts Tabelle</a>
</div>
<div class="ui tab basic segment active" data-tab="first">
	{{#if participants}}
	<table class="ui very basic inverted table">
		<thead>
			<tr>
				<th></th>
				<th>Team</th>
				<th>Lookup Name</th>
			</tr>
		</thead>
		<tbody>
			{{#each participants as |team|}}
				<tr>
					<td><img src="/assets/images/team_{{team.id}}.png" /></td>
					<td>{{team.name}}</td>
					<td>{{team.lookup_name}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
  {{else}}

	{{/if}}
</div>
<div class="ui tab basic segment" data-tab="second">
  {{#if totaltable}}
    {{standings-table teams=totaltable}}
  {{/if}}

</div>
<div class="ui tab basic segment" data-tab="third">
  {{#if hometable}}
    {{standings-table teams=hometable}}
  {{/if}}
</div>
<div class="ui tab basic segment" data-tab="fourth">
  {{#if awaytable}}
    {{standings-table teams=awaytable}}
  {{/if}}
</div>
