<div class="ui {{if isLoading 'active'}} dimmer">
  <div class="ui text loader">Loading</div>
</div>
<div class="ui form">
	<div class="fields">
    {{select-component
			options=model.teams
			selection=homeTeamSelection
			displayKey='name'
			valueKey='id'
			labelName='Heim Team'
			class='field'
		}}

    {{select-component
			options=model.teams
			selection=awayTeamSelection
			displayKey='name'
			valueKey='id'
			labelName='Auswärts Team'
			class='field'
		}}
		<div class="field" style="margin-top: 25px;">
			<button {{action 'getStatistics'}} class="ui teal button">Statistiken</button>
		</div>
	</div>
</div>

<div class="ui divider"></div>

<div class="tab-menu-stats ui pointing secondary three item menu">
  <a class="item active" data-tab="first">3-way</a>
  <a class="item" data-tab="second">2-way</a>
  <a class="item" data-tab="third">Over/Under</a>
</div>

<div class="ui tab basic segment active" data-tab="first">
  {{#if stats}}
  <div class="ui center aligned basic segment">
    <h1 class="ui header">
      {{stats.HomeTeamName}} <img src="assets/images/team_{{stats.HomeTeamId}}.png" class="ui mini rounded middle aligned image">
       vs.
       <img src="assets/images/team_{{stats.AwayTeamId}}.png" class="ui mini rounded middle aligned image"> {{stats.AwayTeamName}}
     </h1>
  </div>

  <div class="ui relaxed stackable grid">
      <div class="doubling three column row">
          <div class="column">
              <div class="ui inverted container segment">
                  <a class="ui teal ribbon label">Short</a>
                  <table class="ui very basic inverted fixed table">
                      <thead>
                          <tr>
                              <th></th>
                              <th>%</th>
                              <th>Quote</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Sieg</td>
                              <td>
                                {{calc-percentage stats.ShortTerm.Total.SiegPct false}} <br/>
                                {{stats.ShortTerm.Total.Siege}} von {{stats.ShortTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.ShortTerm.Total.SiegPct true}}
                              </td>
                          </tr>
                          <tr>
                              <td>Unentschieden</td>
                              <td>
                                {{calc-percentage stats.ShortTerm.Total.UnentschiedenPct false}} <br/>
                                {{stats.ShortTerm.Total.Unentschieden}} von {{stats.ShortTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.ShortTerm.Total.UnentschiedenPct true}}
                              </td>
                          </tr>
                          <tr>
                              <td>Niederlage</td>
                              <td>
                                {{calc-percentage stats.ShortTerm.Total.NiederlagePct false}} <br/>
                                {{stats.ShortTerm.Total.Niederlagen}} von {{stats.ShortTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.ShortTerm.Total.NiederlagePct true}}
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <div class="column">
              <div class="ui inverted container segment">
                  <a class="ui teal ribbon label">Mid</a>
                  <table class="ui very basic inverted fixed table">
                      <thead>
                          <tr>
                              <th></th>
                              <th>%</th>
                              <th>Quote</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Sieg</td>
                              <td>
                                {{calc-percentage stats.MidTerm.Total.SiegPct false}} <br/>
                                {{stats.MidTerm.Total.Siege}} von {{stats.MidTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.MidTerm.Total.SiegPct true}}
                              </td>
                          </tr>
                          <tr>
                              <td>Unentschieden</td>
                              <td>
                                {{calc-percentage stats.MidTerm.Total.UnentschiedenPct false}} <br/>
                                {{stats.MidTerm.Total.Unentschieden}} von {{stats.MidTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.MidTerm.Total.UnentschiedenPct true}}
                              </td>
                          </tr>
                          <tr>
                              <td>Niederlage</td>
                              <td>
                                {{calc-percentage stats.MidTerm.Total.NiederlagePct false}} <br/>
                                {{stats.MidTerm.Total.Niederlagen}} von {{stats.MidTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.MidTerm.Total.NiederlagePct true}}
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <div class="column">
              <div class="ui inverted container segment">
                  <a class="ui teal ribbon label">Long</a>
                  <table class="ui very basic inverted fixed table">
                      <thead>
                          <tr>
                              <th></th>
                              <th>%</th>
                              <th>Quote</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Sieg</td>
                              <td>
                                {{calc-percentage stats.LongTerm.Total.SiegPct false}} <br/>
                                {{stats.LongTerm.Total.Siege}} von {{stats.LongTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.LongTerm.Total.SiegPct true}}
                              </td>
                          </tr>
                          <tr>
                              <td>Unentschieden</td>
                              <td>
                                {{calc-percentage stats.LongTerm.Total.UnentschiedenPct false}} <br/>
                                {{stats.LongTerm.Total.Unentschieden}} von {{stats.LongTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.LongTerm.Total.UnentschiedenPct true}}
                              </td>
                          </tr>
                          <tr>
                              <td>Niederlage</td>
                              <td>
                                {{calc-percentage stats.LongTerm.Total.NiederlagePct false}} <br/>
                                {{stats.LongTerm.Total.Niederlagen}} von {{stats.LongTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.LongTerm.Total.NiederlagePct true}}
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      <div class="doubling three column row">
          <div class="left floated column">
              <div class="ui inverted container segment">
                  <a class="ui teal ribbon label">Xtra Long</a>
                  <table class="ui very basic inverted fixed table">
                      <thead>
                          <tr>
                              <th></th>
                              <th>%</th>
                              <th>Quote</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Sieg</td>
                              <td>
                                {{calc-percentage stats.XtraLongTerm.Total.SiegPct false}} <br/>
                                {{stats.XtraLongTerm.Total.Siege}} von {{stats.XtraLongTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.XtraLongTerm.Total.SiegPct true}}
                              </td>
                          </tr>
                          <tr>
                              <td>Unentschieden</td>
                              <td>
                                {{calc-percentage stats.XtraLongTerm.Total.UnentschiedenPct false}} <br/>
                                {{stats.XtraLongTerm.Total.Unentschieden}} von {{stats.XtraLongTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.XtraLongTerm.Total.UnentschiedenPct true}}
                              </td>
                          </tr>
                          <tr>
                              <td>Niederlage</td>
                              <td>
                                {{calc-percentage stats.ShortTerm.Total.NiederlagePct false}} <br/>
                                {{stats.XtraLongTerm.Total.Niederlagen}} von {{stats.XtraLongTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.XtraLongTerm.Total.NiederlagePct true}}
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <div class="right floated column">
              <div class="ui inverted container segment">
                  <a class="ui teal ribbon label">Durchschnitt (Short-Mid-Long)</a>
                  <table class="ui very basic inverted fixed table">
                      <thead>
                          <tr>
                              <th></th>
                              <th>%</th>
                              <th>Quote</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Sieg</td>
                              <td>
                                {{calc-avg
                                  stats.ShortTerm.Total.SiegPct
                                  stats.MidTerm.Total.SiegPct
                                  stats.LongTerm.Total.SiegPct
                                  false
                                }}
                              </td>
                              <td>
                                {{calc-avg
                                  stats.ShortTerm.Total.SiegPct
                                  stats.MidTerm.Total.SiegPct
                                  stats.LongTerm.Total.SiegPct
                                  true
                                }}
                              </td>
                          </tr>
                          <tr>
                              <td>Unentschieden</td>
                              <td>
                                {{calc-avg
                                  stats.ShortTerm.Total.UnentschiedenPct
                                  stats.MidTerm.Total.UnentschiedenPct
                                  stats.LongTerm.Total.UnentschiedenPct
                                  false
                                }}
                              </td>
                              <td>
                                {{calc-avg
                                  stats.ShortTerm.Total.UnentschiedenPct
                                  stats.MidTerm.Total.UnentschiedenPct
                                  stats.LongTerm.Total.UnentschiedenPct
                                  true
                                }}
                              </td>
                          </tr>
                          <tr>
                              <td>Niederlage</td>
                              <td>
                                {{calc-avg
                                  stats.ShortTerm.Total.NiederlagePct
                                  stats.MidTerm.Total.NiederlagePct
                                  stats.LongTerm.Total.NiederlagePct
                                  false
                                }}
                              </td>
                              <td>
                                {{calc-avg
                                  stats.ShortTerm.Total.NiederlagePct
                                  stats.MidTerm.Total.NiederlagePct
                                  stats.LongTerm.Total.NiederlagePct
                                  true
                                }}
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  {{/if}}
</div>
<div class="ui tab basic segment" data-tab="second">
  {{#if stats}}
  <div class="ui center aligned basic segment">
    <h1 class="ui header">
      {{stats.HomeTeamName}} <img src="assets/images/team_{{stats.HomeTeamId}}.png" class="ui mini rounded middle aligned image">
       vs.
       <img src="assets/images/team_{{stats.AwayTeamId}}.png" class="ui mini rounded middle aligned image"> {{stats.AwayTeamName}}
     </h1>
  </div>

  <div class="ui relaxed stackable grid">
      <div class="doubling three column row">
          <div class="column">
              <div class="ui inverted container segment">
                  <a class="ui teal ribbon label">Short</a>
                  <table class="ui very basic inverted fixed table">
                      <thead>
                          <tr>
                              <th></th>
                              <th>%</th>
                              <th>Quote</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>1-x</td>
                              <td>
                                {{calc-percentage stats.ShortTerm.Total.TwoWay1xPct false}} <br/>
                                {{stats.ShortTerm.Total.TwoWay1x}} von {{stats.ShortTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.ShortTerm.Total.TwoWay1xPct true}}
                              </td>
                          </tr>
                          <tr>
                              <td>1-2</td>
                              <td>
                                {{calc-percentage stats.ShortTerm.Total.TwoWay12Pct false}} <br/>
                                {{stats.ShortTerm.Total.TwoWay12}} von {{stats.ShortTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.ShortTerm.Total.TwoWay12Pct true}}
                              </td>
                          </tr>
                          <tr>
                              <td>x-2</td>
                              <td>
                                {{calc-percentage stats.ShortTerm.Total.TwoWayx2Pct false}} <br/>
                                {{stats.ShortTerm.Total.TwoWayx2}} von {{stats.ShortTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.ShortTerm.Total.TwoWayx2Pct true}}
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <div class="column">
              <div class="ui inverted container segment">
                  <a class="ui teal ribbon label">Mid</a>
                  <table class="ui very basic inverted fixed table">
                      <thead>
                          <tr>
                              <th></th>
                              <th>%</th>
                              <th>Quote</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>1-x</td>
                              <td>
                                {{calc-percentage stats.MidTerm.Total.TwoWay1xPct false}} <br/>
                                {{stats.MidTerm.Total.TwoWay1x}} von {{stats.MidTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.MidTerm.Total.TwoWay1xPct true}}
                              </td>
                          </tr>
                          <tr>
                              <td>1-2</td>
                              <td>
                                {{calc-percentage stats.MidTerm.Total.TwoWay12Pct false}} <br/>
                                {{stats.MidTerm.Total.TwoWay12}} von {{stats.MidTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.MidTerm.Total.TwoWay12Pct true}}
                              </td>
                          </tr>
                          <tr>
                              <td>x-2</td>
                              <td>
                                {{calc-percentage stats.MidTerm.Total.TwoWayx2Pct false}} <br/>
                                {{stats.MidTerm.Total.TwoWayx2}} von {{stats.MidTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.MidTerm.Total.TwoWayx2Pct true}}
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <div class="column">
              <div class="ui inverted container segment">
                  <a class="ui teal ribbon label">Long</a>
                  <table class="ui very basic inverted fixed table">
                      <thead>
                          <tr>
                              <th></th>
                              <th>%</th>
                              <th>Quote</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>1-x</td>
                              <td>
                                {{calc-percentage stats.LongTerm.Total.TwoWay1xPct false}} <br/>
                                {{stats.LongTerm.Total.TwoWay1x}} von {{stats.LongTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.LongTerm.Total.TwoWay1xPct true}}
                              </td>
                          </tr>
                          <tr>
                              <td>1-2</td>
                              <td>
                                {{calc-percentage stats.LongTerm.Total.TwoWay12Pct false}} <br/>
                                {{stats.LongTerm.Total.TwoWay12}} von {{stats.LongTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.LongTerm.Total.TwoWay12Pct true}}
                              </td>
                          </tr>
                          <tr>
                              <td>x-2</td>
                              <td>
                                {{calc-percentage stats.LongTerm.Total.TwoWayx2Pct false}} <br/>
                                {{stats.LongTerm.Total.TwoWayx2}} von {{stats.LongTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.LongTerm.Total.TwoWayx2Pct true}}
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      <div class="doubling three column row">
          <div class="left floated column">
              <div class="ui inverted container segment">
                  <a class="ui teal ribbon label">Xtra Long</a>
                  <table class="ui very basic inverted fixed table">
                      <thead>
                          <tr>
                              <th></th>
                              <th>%</th>
                              <th>Quote</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>1-x</td>
                              <td>
                                {{calc-percentage stats.XtraLongTerm.Total.TwoWay1xPct false}} <br/>
                                {{stats.XtraLongTerm.Total.TwoWay1x}} von {{stats.XtraLongTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.XtraLongTerm.Total.TwoWay1xPct true}}
                              </td>
                          </tr>
                          <tr>
                              <td>1-2</td>
                              <td>
                                {{calc-percentage stats.XtraLongTerm.Total.TwoWay12Pct false}} <br/>
                                {{stats.XtraLongTerm.Total.TwoWay12}} von {{stats.XtraLongTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.XtraLongTerm.Total.TwoWay12Pct true}}
                              </td>
                          </tr>
                          <tr>
                              <td>x-2</td>
                              <td>
                                {{calc-percentage stats.ShortTerm.Total.TwoWayx2Pct false}} <br/>
                                {{stats.XtraLongTerm.Total.TwoWayx2}} von {{stats.XtraLongTerm.Total.Spiele}}
                              </td>
                              <td>
                                {{calc-percentage stats.XtraLongTerm.Total.TwoWayx2Pct true}}
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <div class="right floated column">
              <div class="ui inverted container segment">
                  <a class="ui teal ribbon label">Durchschnitt (Short-Mid-Long)</a>
                  <table class="ui very basic inverted fixed table">
                      <thead>
                          <tr>
                              <th></th>
                              <th>%</th>
                              <th>Quote</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>1-x</td>
                              <td>
                                {{calc-avg
                                  stats.ShortTerm.Total.TwoWay1xPct
                                  stats.MidTerm.Total.TwoWay1xPct
                                  stats.LongTerm.Total.TwoWay1xPct
                                  false
                                }}
                              </td>
                              <td>
                                {{calc-avg
                                  stats.ShortTerm.Total.TwoWay1xPct
                                  stats.MidTerm.Total.TwoWay1xPct
                                  stats.LongTerm.Total.TwoWay1xPct
                                  true
                                }}
                              </td>
                          </tr>
                          <tr>
                              <td>1-2</td>
                              <td>
                                {{calc-avg
                                  stats.ShortTerm.Total.TwoWay12Pct
                                  stats.MidTerm.Total.TwoWay12Pct
                                  stats.LongTerm.Total.TwoWay12Pct
                                  false
                                }}
                              </td>
                              <td>
                                {{calc-avg
                                  stats.ShortTerm.Total.TwoWay12Pct
                                  stats.MidTerm.Total.TwoWay12Pct
                                  stats.LongTerm.Total.TwoWay12Pct
                                  true
                                }}
                              </td>
                          </tr>
                          <tr>
                              <td>x-2</td>
                              <td>
                                {{calc-avg
                                  stats.ShortTerm.Total.TwoWayx2Pct
                                  stats.MidTerm.Total.TwoWayx2Pct
                                  stats.LongTerm.Total.TwoWayx2Pct
                                  false
                                }}
                              </td>
                              <td>
                                {{calc-avg
                                  stats.ShortTerm.Total.TwoWayx2Pct
                                  stats.MidTerm.Total.TwoWayx2Pct
                                  stats.LongTerm.Total.TwoWayx2Pct
                                  true
                                }}
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  {{/if}}
</div>
<div class="ui tab basic segment" data-tab="third">

</div>
