<label>{{labelName}}</label>
<select class="ui search selection dropdown">
  <option value="">Bitte wählen...</option>
  {{#each options as |option|}}
    <option value={{get option valueKey}} selected={{eq (get option valueKey) (get selection valueKey)}}>{{get option displayKey}}</option>
  {{/each}}
</select>
