<table class="ui very basic inverted table">
  <thead>
    <tr>
      <th class="one wide center aligned">#</th>
      <th class="one wide"></th>
      <th class="three wide">Team</th>
      <th class="center aligned">Spiele</th>
      <th class="center aligned">S</th>
      <th class="center aligned">U</th>
      <th class="center aligned">N</th>
      <th class="center aligned">T</th>
      <th class="center aligned">GT</th>
      <th class="center aligned">TD</th>
      <th class="center aligned">Punkte</th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedTeams as |team index|}}
      <tr>
        <td class="center aligned">{{add index 1}}</td>
        <td class="center aligned"><img class="ui middle aligned mini image" src="/assets/images/team_{{team.team_id}}.png" /></td>
        <td> <span>{{team.team_name}}</span></td>
        <td class="center aligned">{{team.spiele}}</td>
        <td class="center aligned">{{team.siege}}</td>
        <td class="center aligned">{{team.unentschieden}}</td>
        <td class="center aligned">{{team.niederlagen}}</td>
        <td class="center aligned">{{team.tore}}</td>
        <td class="center aligned">{{team.gegentore}}</td>
        <td class="center aligned">{{team.tordifferenz}}</td>
        <td class="center aligned">{{team.points}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
